name: diag
on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo hello
        run: echo "✅ GitHub Actions is working for MaMeeFarm™"
      - name: Show UTC time
        run: date -u
